.header {
  text-align: left;
  padding: 50px;
  background: RoyalBlue;
  font-family: Helvetica, sans-serif;
  color: white;
}
h1 {
  font-size: 40px;
}

.syncButton{
  height: 200px;
  width: 200px;
  border: 2px solid DeepSkyBlue;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50px;
  transition: 0.5s;
}
.syncButton:hover {
  background: ;
}
.pushed {
  background: CornflowerBlue;
}
