.header {
  text-align: left;
  padding: 20px 30px;
  background: RoyalBlue;
  font-family: Helvetica, sans-serif;
  color: white;
}
h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: PaleVioletRed;
}

.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: white;
  color: PaleVioletRed;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  -ms-flex: 70%;
  flex: 70%;
  background-color: salmon;
  padding: 20px;
}
.syncButton{
  height: 40px;
  width: 100px;
  border:2px solid purple;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: 0.5s;
  text-align: center;
}

.syncButton:hover {
  background: lightblue;
}
.pushed {
  background: CornflowerBlue;
}

.submitButton {
  height: 40px;
  width: 100px;
  border:2px solid purple;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: 0.5s;
  text-align: center;
}

.submitButton:hover {
  background: lightblue;

}
